<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1>why do you want to know anything about us?</h1><br>
    <a href="/">Go to home</a>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laborum nam reprehenderit, voluptatum quos neque quaerat expedita obcaecati accusamus dolores inventore accusantium iure!</h3>

    <%- include('./partial/footer.ejs')%>
</body>
</html>