<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the html home page</h1>

    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit numquam qui rerum impedit error, tenetur aspernatur accusamus eligendi odio architecto optio est quis nobis nihil aliquid fugit, corrupti harum! Iusto enim sapiente nulla culpa.</h3>
</body>
</html>